<form class="{{cssClass}} sheet-panel" autocomplete="off">
  {{!-- Sheet div --}}
  <div id="stat-panel">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <h1 class="char-name">
      <input
        name="name"
        type="text"
        value="{{actor.name}}"
        placeholder="{{localize 'HH.BearName'}}"
      />
    </h1>
    {{!-- Stats Block --}}
    <div id="stat-ALACRITY">
      <h2 class="stat-title">ALACRITY</h2>
      <input
        class="stat-value"
        name="data.stats.ALACRITY"
        data-type="Number"
        value="{{data.stats.ALACRITY}}"
      />
      <img
        class="stat-roll-single expand no-border"
        title="{{localize 'HH.BearRollTooltip'}}"
        data-roll="{{data.stats.ALACRITY}}d6cs>=4"
        src="/systems/crash-pandas/resources/icons/die-six.svg"
      />
    </div>
    <div id="stat-CHUTZPAH">
      <h2 class="stat-title">CHUTZPAH</h2>
      <input
        class="stat-value"
        name="data.stats.CHUTZPAH"
        data-type="Number"
        value="{{data.stats.CHUTZPAH}}"
      />
      <img
        class="stat-roll-single expand no-border"
        title="{{localize 'HH.BearRollTooltip'}}"
        data-roll="{{data.stats.CHUTZPAH}}d6cs>=4"
        src="/systems/crash-pandas/resources/icons/die-six.svg"
      />
    </div>
    <div id="stat-FEROCIOUSNESS">
      <h2 class="stat-title">FEROCIOUSNESS</h2>
      <input
        class="stat-value"
        name="data.stats.FEROCIOUSNESS"
        data-type="Number"
        value="{{data.stats.FEROCIOUSNESS}}"
      />
      <img
        class="stat-roll-single expand no-border"
        title="{{localize 'HH.BearRollTooltip'}}"
        data-roll="{{data.stats.FEROCIOUSNESS}}d6cs>=4"
        src="/systems/crash-pandas/resources/icons/die-six.svg"
      />
    </div>
    <div id="stat-ROTUNDITY">
      <h2 class="stat-title">ROTUNDITY</h2>
      <input
        class="stat-value"
        name="data.stats.ROTUNDITY"
        data-type="Number"
        value="{{data.stats.ROTUNDITY}}"
      />
      <img
        class="stat-roll-single expand no-border"
        title="{{localize 'HH.BearRollTooltip'}}"
        data-roll="{{data.stats.ROTUNDITY}}d6cs>=4"
        src="/systems/crash-pandas/resources/icons/die-six.svg"
      />
    </div>
  </div>
  {{!-- Biography --}}
  <div id="bio-panel">
    <h2>{{localize 'HH.BiographyTitle'}}</h2>
    {{editor content=data.biography target="data.biography" button=true
    owner=owner editable=editable}}
  </div>
</form>
